<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% for spell in spells %}
    {% set theme = 'theme-dark' if spell.school in ['divination', 'transmutation'] else 'theme-light' %}

    <div class="card">
        <img class="background" src="assets/backgrounds/{{ spell.school }}.png">
        <img class="school-icon" src="assets/schools/{{ spell.school }}.png">

        <div class="text-layer name {{ theme }}" style="font-size: {{ [58, (404 / (spell.name|length * 0.6))|int]|min }}px;">{{ spell.name }}</div>
        <div class="text-layer level {{ theme }}">{% if spell.level == 0 %}Cantrip{% else %}Lv {{ spell.level }}{% endif %}</div>
        
        <div class="text-layer details">
            <div>{{ spell.range }}</div>
            <div>{{ spell.duration }}</div>
            <div>{{ spell.casting_time }}</div>
        </div>

        <div class="text-layer flavour {{ theme }}">
            {% if spell.material %}Materials: {{ spell.material }}{% endif %}
        </div>

        <div class="text-layer description">
            {% if spell.summary %}
                {{ spell.summary | replace('\n', '<br><br>') | safe }}
            {% else %}
                {{ spell.desc | replace('\n', '<br><br>') | safe }}
            {% endif %}
        </div>

        <div class="text-layer page">
            {{ spell.source_slug | upper }} {{ spell.page }}
        </div>

        <!-- Indicators -->
        {% if spell.requires_concentration %}
            <img class="indicator ind-concentration" src="assets/indicators/{{ spell.school }}_concentration.png">
        {% endif %}
        
        {% if spell.requires_verbal %}
            <img class="indicator ind-verbal" src="assets/indicators/{{ spell.school }}_verbal.png">
        {% endif %}
        {% if spell.requires_somatic %}
            <img class="indicator ind-somatic" src="assets/indicators/{{ spell.school }}_somatic.png">
        {% endif %}
        {% if spell.requires_material %}
            <img class="indicator ind-material" src="assets/indicators/{{ spell.school }}_material.png">
        {% endif %}
        {% if spell.is_ritual %}
            <img class="indicator ind-ritual" src="assets/indicators/{{ spell.school }}_ritual.png">
        {% endif %}

        <!-- Classes -->
        {% for cls in spell.classes %}
            <img class="indicator ind-{{ cls | lower }}" src="assets/indicators/{{ spell.school }}_{{ cls | lower }}.png">
        {% endfor %}
    </div>
    {% endfor %}
</body>
</html>
